
body{
    margin: 0;
    padding: 0;
}
  .big-container{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-radius: 10px;
  animation: fade 3s ease-in-out forwards;
  opacity: 0;
}


@keyframes fade {
  to{opacity: 1;}
}
.container{
  width: 100%;
  height: 100%;
  overflow: auto;
 
}

::-webkit-scrollbar{
  display: none;

}


header{
  min-height: 60px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #fff8;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 1s ;
  opacity: 0;
}

header .logo{
  float: left;
  margin-left: 15px;
  margin-bottom: 3px;

}

header .logo h1 img{
  color: white;
  text-decoration: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  text-shadow: 0 0 1px white;
  border-radius: 10px;
}

  nav{
  float: right;
  margin-right: 20px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  margin-right: 30px;
  min-width: 450px;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  margin-top: 5PX;
  padding: 10px 15px;
  text-transform: uppercase;
 display: inline-block;
  
}

.active{
  margin-top: 10px;
  background: teal;
  border-radius: 20px;
}

a:hover{
  color: turquoise;
}


section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px white;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 2s ;
  opacity: 0;
}

section h2{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
}

section p{
  line-height: 1.4;
  margin: 0px ;
  letter-spacing: 3px;
  text-transform: uppercase;
}

low{
  width: 100%;
  text-align: center;
  color: white ;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 2s ;
  opacity: 0;
}

low h2{
  text-transform: uppercase;
  letter-spacing: 10px;
}

low p{
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.4;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  header .logo,
  header nav{
    width:100%;
    margin: 0;
    text-align: center;
  }
  
}

@media (max-width:850px) {
  nav ul{
    min-width: 300px;
    margin: 0;
  }
  nav ul a{
    padding: 5px 10px;
  }
  
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
    
    
   
  .mySlides {
    width: 100%;
       display: none;
    
       }
.str{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
.str2 .image2{
    float: right;
    display:flex;
    flex-wrap: wrap;
    z-index: -1;
}

.str .on{
    position: absolute;
    right: 5px;
    padding-top: 200px;
}


.str2 .on2{
    position: absolute;
    left: 5px;
    padding-top: 200px; 
    padding-left: 20px;
}
    

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
    margin: 30px 0px ;
  position: relative;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.gallery .image1{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery:hover .image1 {
  opacity: 0.3;
}

.gallery:hover .middle {
  opacity: 1;
}

 .gallery .text {
  background-color:white;
  color: rgb(85, 17, 148);
  font-size: 16px;
  padding: 16px 32px;
}

.image3 img{
    margin-top: 20px;
    width: 100%;
    height: 800px;
}



#footer {
    background: black;
    color: #ffffff;
}
#footer {

    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-top: 1px solid #E7E7E8;
    z-index: 99;
    position: relative;
    
    clear: both;
    padding-top: 1.5em;
    color: #aaaf;
}
#footer .footer {
    max-width: 1032px;
    width: 100%;
    margin: 0 16px;
}
.footer-content {
    width: 100%;
}
.footer-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 0 40px 0;
}
.footer h6 {
    margin: 0 0 8px;
}
.header6 {
    font-family: 'BasisBlack', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
}
.t1 {
    color: #924c0b;
}
h6 {
    font-size: 16px;
}

#footer a {
    color:white;
}

#footer a {
    color: rgb(250, 241, 241);
    border: 0;
}
.link {
    font-family: 'BasisMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
a {
    color: white;
    color:white;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}
.social {
    display: flex;
    margin-bottom: 16px;
}
ul, ol {
    margin-bottom: 1.6em;
}
ol, ul {
    list-style: none;
}
.language {
    margin-bottom: 16px;
}

.footer p {
    margin: 0 0 .5em 0;
}
.caption {
    font-family: 'BasisMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
}
p {
    margin: 0 0 1.7em;
}
.language select {
    border: none;
}

select {
    font-family: 'BasisMedium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 24px;
    color: #121214;
    font-weight: 500;
}

.copyright{
  background-color:rgb(107, 46, 6);
  text-align: center;
  padding: 15px;
  font-size: 18px;
  color: white;
 }
  
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }
